@font-face {
    font-family: 'Orloj';
    src: url('/fonts/Orloj-Ea9eW.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-midnight: #1a1a1a;  /* Gris muy oscuro para la medianoche */
    --color-dawn: #666666;      /* Gris medio para el amanecer */
    --color-noon: #cccccc;      /* Gris claro para el mediodía */
    --color-dusk: #666666;      /* Gris medio para el anochecer */
    --color-night: #1a1a1a;     /* Gris muy oscuro para la noche */

    --text-color-midnight: #635959;  /* Gris claro para la medianoche */
    --text-color-dawn: #c8c8c8;      /* Gris un poco más oscuro para el amanecer */
    --text-color-noon: #ffffff;      /* Gris medio para el mediodía */
    --text-color-dusk: #f8f8f8;      /* Gris un poco más oscuro para el anochecer */
    --text-color-night: #404040;     /* Gris claro para la noche */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(38, 38, 39);
}

#clock-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-variant-ligatures: none;
    padding-bottom: 5%;
}

.clock {
    position: relative;
    width: 200px; /* Fixed width for consistency */
    padding: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    color: white; /* Text color */
    overflow: hidden; /* Ensure child elements don't overflow */
    font-family: 'Orloj', sans-serif;
    box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.75);
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
    cursor: grab; /* Indicate that the element is draggable */
}

.clock:hover {
    box-shadow: 0 0 20px rgba(76, 73, 73, 0.6); /* Highlight effect on hover */
    background: linear-gradient(18deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%); /* Slightly lighter gradient on hover */
}

.clock:active {
    cursor: grabbing; /* Change cursor when dragging */
}

.drag-over {
    border: 2px dashed #ff77aa; /* Visual indicator when dragging over */
}

.city-name {
    top: 10px; /* Adjust as needed */
    transform: translateX(-20%);
    font-size: 1.2rem; /* Font size for the city name */
    background: rgba(0, 0, 0, 0.7); /* Slightly different background for better visibility */
    padding: 2px;
    border-radius: 5px;
    color: hsl(0, 69%, 70%); /* Ensure text color is visible */
    z-index: 1; /* Ensure city name is on top */
}

.time {
    position: relative;
    margin-top: 10px; /* Space below the city name */
    font-size: 2.8rem; /* Font size for the time */
    color: rgb(18, 17, 17); /* Ensure text color is visible */
    /* 3D effect */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Optional: add a shadow for better 3D effect */
}